.feed {
  &-card {
    &__user-avatar {
      border-radius: 50%;
      margin-right: 1.2rem;
    }

    &__date {
      font-size: .8rem;
      line-height: 2rem; // 300%;
      padding: .2rem;
      vertical-align: middle;
    }

    &__likes {
      vertical-align: middle;
    }

    &__user-avatar {
      width: 36px;
    }
  }
}

.like-btn, .comment-btn {
  border: none;
  padding: 0 .1rem 0;
  background: transparent;
  position: relative;
  font-size: 1.3rem;
  // color: rgb(230, 230, 230);

  &:focus {
    outline: none;
  }
}

.like-btn:active {
  // > :first-child:active {
    transform: scale(2);
  // }
}

.like-count,
.comment-count {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: .45em;
  padding: .15em;
}

.liked {
  color: rgba(0, 218, 218, 0.781);
  // animation: scaled .2s ease-out;
}


/*-------------------------
 * Over-ride of Bootstrap Styles
 --------------------------*/
.card {

  &-body {
    padding: 1rem;
  }

  &-header,
  &-footer {
    padding: .25rem 1.25rem;
  }
}

/*-------------------------
 * Animations
 --------------------------*/
@keyframes scaled {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(2);
  }
}
